# Gradle cache
.gradle/
**/gradle-wrapper/gradle-wrapper.zip
**/gradle-wrapper/gradle-wrapper.properties

# Local properties
local.properties

# Build outputs
build/
**/build/

# Idea/IntelliJ
*.iml
.idea/

# OS
.DS_Store

# Gradle wrapper large files
gradle/wrapper/lib/

# Kotlin
**/*.jar

# APK outputs
**/*.apk

# External SDK
/system/

# Termux
/home/
